.tag {
    display: none;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    background-color: cadetblue;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.succesmes {
    text-align: center;
    border-radius: 7px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: vanish 3s forwards;
}

@keyframes vanish {
    0%{
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}

.disab {
    pointer-events: none;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
