{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel='stylesheet' type="text/css" href="{% static 'css/styletags.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="{% static 'js/jstags.js' %}"></script>
</head>
<body>

    <div id="main">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="succesmes">
                        <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <div id="grid-container">
            <div id="head">
                <h1 id="panTitle">Configuration panel</h1>
            </div>
            
            <div class="sidenav">
                <a id="Overview" class="target active" autofocus onclick="chButton(event)">
                    <p>Overview</p>
                </a>
                <hr class="sep">
                <a id="Images&Tags" class="target" onclick="chButton(event)">
                    <p>Images and tags</p>
                </a>
                <hr class="sep">
                <a id="Landing" class="target" onclick="chButton(event)">
                    <p>Landing page</p>
                </a>
                <hr class="sep">
                <a id="About" class="target" onclick="chButton(event)">
                    <p>About me page</p>
                </a>
                <hr class="sep">
                <a id="GetInvolved" class="target" onclick="chButton(event)">
                    <p>Get involved page</p>
                </a>
                <hr class="sep">
                <a id="Contact" class="target" onclick="chButton(event)">
                    <p>Contact page</p>
                </a>
            </div>
    
            <div id="over" class="cont">
                Overview
            </div>
            <div id="imag" class="cont">
                <div id="upimage" class="column">
                    You have uploaded {{ n_images }} images.
                    <a href="{% url 'upload-image' %}">Go to images</a>
                </div>
                <div id="uptag"class="column">
                    You have uploaded {{ n_tags }} tags.
                    <a href="{% url 'create-tag' %}">Go to images</a>
                </div>
            </div>
            <div id="land" class="cont">
                Landing
            </div>
            <div id="abou" class="cont">
                About me
            </div>
            <div id="geti" class="cont">
                Get involved
            </div>
            <div id="cont" class="cont">
                Contact
            </div>
        </div>
    
    </div>
        
    
    <div id="creator" class="tag">
        <h1>Image Uploader</h1>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="errorlist">
                        <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ imageform.as_p }}
            <input type="submit" value="Upload"/>
            <input type="reset" value="Cancel" onclick="cancelForm('creator')"/>
        </form>
    </div>

    <div id="remover" class="tag">
        <h3 id="comfirMes">Do you want to remove the tag?</h3>
        <form id="comfir" action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove"/>
            <input type="reset" value="Cancel" onclick="cancelForm('remover')"/>
        </form>
    </div>

</body>
</html>