
#gallery > a {
    color: #535755;
}

#gallery-tag {
    text-align: center;
    font-size: 1.7em;
    padding: 4vh 0px 3vh 0px;
}

#imgGrid {
    top: 23vh;
}

#bkDiv {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
    box-shadow: inset 0 -9px 9px -1px rgb(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -9px 9px -1px rgb(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 -9px 9px -1px rgb(0, 0, 0, 0.4);
}

#bkDiv img {
    visibility: hidden;
    width: 100%;
    filter: blur(9px);
    -webkit-filter: blur(9px);
    display: block;
}

#bkDiv svg {
    position: absolute;
    top: 0;
}

#img1 image {
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

#theText {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    letter-spacing: 4px;
}