
#gallery a {
    color: #535755;
}

.round {
    border-radius: 9px;
}
.width {
    width: 250px;
}

#gallery-cards {
    margin: 3vh 5vw;
    display: flex;
    position: relative;
    top: 30vh;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.gallery-card {
    margin: 5vh 3vw;
    height: 180px;
    display: inline-block;
    position: relative;
    flex-shrink: 0;
}

.gallery-card .tit {
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: inset 0px 0px 10px rgba(116, 116, 116, 0.5);
    -moz-box-shadow: inset 0px 0px 10px rgba(116, 116, 116, 0.5);
    -webkit-box-shadow: inset 0px 0px 10px rgba(116, 116, 116, 0.5);
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    z-index: 2;
}

.gallery-card .tit a {
    text-decoration: none;
}

.gallery-card .gimg {
    object-fit: cover;
    height: 180px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.gallery-card .fimg {
    position: absolute;
    height: 180px;
    top: 2px;
    left: 0;
    transform: scale(1.05);
    transition: all 0.5s ease;
    z-index: 1;
    filter: blur(24px);
}
