/* menu */

.stuck_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
}

.stuck_container {
    position: relative;
    padding: 10px 0;
}

.shadow {
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.4);
}

.blur {
    background-color: rgba(255, 255, 255, 0.29);
}

@media (min-width: 768px) {
    .container {
        width: 740px;
    }
    #dropi {
        left: -40px;
        width: 200px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    #dropi {
        left: -70px;
        width: 250px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.container:after {
  clear: both;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
   
/* items del menu */

.header {
    text-align: center;
    font-weight: bold;
    display: block;
}

.header ul {
    list-style:none;
    padding: 5px 0;
    margin:0;
    display: inline-block;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }
}
.sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 10;
}
.sf-menu:after {
    clear: both;
}

.sf-menu > li + li {
    margin-left: 100px;
}
.sf-menu > li + li:before {
    content: '';
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -50px;
    width: 1px;
    height: 35px;
    background: #3F4742;
}
@media (max-width: 991px) {
    .sf-menu > li + li {
        margin-left: 50px;
    }
    .sf-menu > li + li:before {
        left: -25px;
    }
}
   
/* enlaces del menu */

.header ul a {
    text-decoration:none;
    letter-spacing:1px;
    -moz-transition: 0.3s 0.7s;
    -o-transition: 0.3s 0.7s;
    -webkit-transition: 0.3s 0.7s;
    transition: 0.3s 0.7s;
}
   
.header ul li {
    position:relative;
    display: inherit;
}

.header > li.active > a {
    color: #737976;
}
   
/* efecto al pasar el ratón por los items del menu */
   
.header ul li:hover > a {
    color: #737976;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* menu desplegable */

#dropi {
    position: absolute;
    top: -200px;
    margin-top: 40px;
    padding: 22px 0 22px 26px;
    border-radius: 9px;
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    background-color: rgba(255, 255, 255, 0.29);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 500;
    text-align: left;
    -webkit-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0.7s;
    -moz-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0.7s;
    -o-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0.7s;
    transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0.7s;
}

/* items del menu desplegable */

#dropi li {
    float:none;
}
   
/* items del menu desplegable al pasar el ratón */
   
#gallery:hover > #dropi {
    top: 0;
    -webkit-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0s;
    -moz-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0s;
    -o-transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0s;
    transition: top 0.4s cubic-bezier(0.5, 1.4, 0.4, 0.9) 0s;
}
