{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

	<!-- Main Stylesheets -->	
    <link rel="stylesheet" href="{% static 'css/landpO.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="{% static 'js/landpO.js' %}"></script>
    
</head>
<body>
	<!-- Page Preloder 
	<div id="preloder">
		<div class="loader"></div>
	</div>-->

	<!-- Header Section -->
	<header class="header">
		<div id="stuck_container" class="stuck_container">
            <div class="container">
                <nav id="menu">
                    <!--Sf-menu-->
                    <ul class="sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                        <li class="active">
                            <a href="./">Home</a>
                        </li>
                        <li>
                            <a href="index-1.html">Gallery</a>
                            <ul>
                                {% if galleries %}
                                    {% for tag in galleries %}
                                        <li>
                                            <a href="#">{{ tag.tag_name }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <a href="#">Nothing here</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="index-2.html">About me</a>
                        </li>
                        <li>
                            <a href="index-3.html">Get Involved</a>
                        </li>
                        <li>
                            <a href="index-4.html">Contacts</a>
                        </li>
                    </ul>
                    <!--End Sf-menu-->
                </nav>
            </div>
        </div>
    </header>
    
	<!-- Header Section end -->
</body>
</html>