{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel='stylesheet' type="text/css" href="{% static "css/styletags.css" %}">
    <script src="{% static 'js/jstags.js' %}"></script>  
</head>
<body>

    <div id="main">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="succesmes">
                        <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <h1>Image gallery</h1>

        {% if uploaded_images %}
            <table id="images">
                <thead>
                    <tr>
                        <th>Image's name</th>
                        <th>Image</th>
                        <th>Tags</th>
                        <th>It's a gallery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in uploaded_images %}
                        <tr>
                            <td>{{ image.name }}</td>
                            <td><img src='/media/{{ image.image_file }}' width="200"/td>
                            <td>
                                {% for tag in image.tags.all %}
                                    {{ tag }},
                                {% endfor %}.
                            </td>
                            <td>{{ image.appear_in_album }}</td>
                            <td>
                                <button value="{{ image.pk }},{{ image.name }}" onclick="tagRem(value, 'image')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No images uploaded.</p>
        {% endif %}

        <button class="button" onclick="tagForm()">New image</button>
    </div>
    
    <div id="creator" class="tag">
        <h1>Image Uploader</h1>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="errorlist">
                        <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ imageform.as_p }}
            <input type="submit" value="Upload"/>
            <input type="reset" value="Cancel" onclick="cancelForm('creator')"/>
        </form>
    </div>

    <div id="remover" class="tag">
        <h3 id="comfirMes">Do you want to remove the tag?</h3>
        <form id="comfir" action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove"/>
            <input type="reset" value="Cancel" onclick="cancelForm('remover')"/>
        </form>
    </div>

</body>
</html>