{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>
    <div id="main">
        <h1>Image gallery</h1>

        {% if uploaded_images %}
            <table id="images">
                <thead>
                    <tr>
                        <th>Image's name</th>
                        <th>Image</th>
                        <th>Tags</th>
                        <th>It's a gallery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in uploaded_images %}
                        <tr>
                            <td>{{ image.image_name }}</td>
                            <td>{{ image.image_file }}</td>
                            <td>{{ image.tags }}</td>
                            <td>{{ image.appear_in_almbum }}</td>
                            <td>
                                <button value="{{ image.pk }},{{ image.image_name }}" onclick="tagRem(value)">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No images uploaded.</p>
        {% endif %}

        <button class="button" onclick="tagForm()">New tag</button>
    </div>
    </div>
    <h1>Image Uploader</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ imageform.as_p }}
    <input type="submit" value="Upload"/>
    </form>

    <br><br>
    <h1>Last picture name is {{ name }}, and is the photo nº {{ide}} of the gallery.</h1>
    <img src='{{ MEDIA_URL }}{{ imagefile }}'>
    <br><br>
</body>
</html>